* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
}

button {
    padding: 15px 15px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: aqua;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.ventana_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(79, 79, 79, 0.7);
    z-index: 1;
    visibility: ;
}

.ventana_content {
    width: 450px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

.ventana_content h2 {
    font-size: 25px;
    font-weight: 500;
}

.ventana_content p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.close {
    width: 10%;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    background-color: rgb(17, 195, 62);
    cursor: pointer;
}

.close p {
    color: #fff;
    font-weight: 400;
}

.close:hover {
    background-color: hsl(135, 84%, 40%)
}